fastapi
streamlit
pandas
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
uvicorn
scikit-learn
numpy
matplotlib
plotly
python-dotenv
requests
ollama
sentence-transformers
transformers
torch
pypdf